# Prerequisites
*.d

# Common temporary files
*.swp
*.orig
*.bak

# Audio files
*.wav

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.chug

# Compiled Static libraries
*.lai
*.la
*.a

.DS_Store

*.tgz
/chugins.opt
/chugins.ncb
/chugins-windows-*
/chugins-mac-*

# Visual Studio artifacts
*.VC.opendb
*.sdf
.vs/

/Release/
/Debug/
*/Release/
*/Debug/
*/x64/
*/*.vcxproj.user
ipch

*/*.xcodeproj/xcuserdata

.vscode/*
.vscode

# CMake
src/build
src/build-debug
src/build-release

# vim
*~

# chuck executable
chuck-1.5.1.4
src/chuck.exe
src/chuck-debug.exe
src/chuck-release.exe

# imgui
imgui.ini

# Tracy profiler
Tracy.exe

